@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
:root {
    --white: ##d8d5d3;
    --black: #2f2e2f;
    --black-alt: #252526;
    --green: #6e8d45;
    --gray: #a7a6a6;
    --border: #4f4e4f;
}
header, h1{
    padding: 20px;
}
body{
    background: var(--black);
    color: #d8d5d3;
    font-family: "Poppins", sans-serif;
}
div{
    background-repeat: no-repeat;
    text-align: center;
}
h1, h2{
    color: var(--white);
}
h1 {
    background-image: url(/public/logo-transparente.png);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: 40%;
    background-color: var(--black-alt);
    transition: color 0.3s ease;
}

h1:hover {
    color: rgb(205, 220, 57);
}
h1:active {
    color: rgb(152, 201, 85);
}
input{
    margin: 20px;
    padding: 5px;
    background-color: rgb(228, 225, 225);
    border: none;
    font-size: 20px;
    color: rgb(46, 46, 46);
    width: 30%;
}
button {
    margin: 20px;
    padding: 5px;
    margin-left: -50px;
    border: none;
    font-size: 20px;
    background-color: var(--green);
    border-radius: 0 5px 5px 0;
    color: var(--white);
    cursor: pointer;
}
button:hover{
    background-color: var(--border);
}
li{
    color: white;
    list-style: none;
}
.info{
    background: var(--black-alt);
    text-align: left;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 45rem;
    padding: 1rem 2rem;
    border-radius: 10px;

    h1 {
        border-bottom: 1px solid var(--border);
    }

    p {
        color: var(--white);
        padding: 1rem 0;
        span {
            background: var(--gray);
            padding: 0.25rem 0.5rem;
            border-radius: 5px;
            font-size: 0.75rem;
            margin-right: 0.5rem;
        }
    }
}
.info svg{
    background-color: var(--black-alt);
}
.info-title{
    text-align: left;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--gray);
}
.info-title svg {
   color: var(--gray);
}
li{
    margin: 1rem 0;
    font-size: 18px;
}
strong{
    background-color: var(--black);
    padding: 5px;
    color: var(--gray);
    margin: 5px;
    border-radius: 5px;
}
p{
    color: var(--green);
}
.features {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.features p {
    display: flex;
    justify-content: center;
    color: var(--green);
    padding: 1rem 0;
}
summary {
    background-color: var(--black-alt);
    width: 20%;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
    margin: 4px auto;
    color: var(--gray);
    cursor: pointer;
    display: -webkit-box;
    list-style: none;
}
summary svg{
    color: var(--gray);
    width: 40px;
}
a{
    color: var(--green);
    width: 40px;
    text-decoration: none;
    background-color: var(--black-alt);
    padding: 10px;
}